body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none;
}

input {
  border-radius: 0.7rem;
}

input:valid {
  background-color: lightgreen;
}

.invalid {
  background-color: lightyellow;
  border: 2px red solid;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  text-align: center;
}

fieldset {
  border-radius: 1rem;
  background-color: #78FFD6;
}

li {
  list-style: none;
}

#submitBtn {
  border-radius: 1rem;
  padding: 0.3rem;
}